.add-app-wrap {
	position: relative;
	margin-top: 20px;
}
#add-app-form {
	overflow: hidden;
}
#add-app-form .app-select {
	height: 32px;
	min-width:150px;
	margin-right: 10px;
}
#add-app-form .app-select:last-child{
	margin-right:0
}
.ui-dialog{
	overflow: hidden;
}
.ui-dialog-header .ui-dialog-close{
	position: absolute;
}
#apps-list-wrap .table td {
	vertical-align: middle;
}
#apps-list-wrap .table .btn {
	margin-right: 15px;
}
#apps-list-wrap .table .btn:last-child {
	margin-right: 0;
}